tr th:first-child, tr td:first-child { border-top-left-radius: 10px; }
tr th:last-child, tr td:last-child { border-top-right-radius: 10px; }
tr th:first-child, tr td:first-child { border-bottom-left-radius: 10px; }
tr th:last-child, tr td:last-child { border-bottom-right-radius: 10px; }
